:root{
  --body-background-color: #e1e1fc;
  --main-background-color: white;
  --categories-container-background-color: #F2F9FA;
  --text-normal-filter-color: invert(32%) sepia(15%) saturate(6%) hue-rotate(348deg) brightness(96%) contrast(85%);
  --green-filter-color:invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  --borders-color:rgb(240, 238, 238);
  --text-normal-color:#585858;
  --category-select-color:#f8a1a1;
  --category-filter-select-color:invert(76%) sepia(12%) saturate(929%) hue-rotate(314deg) brightness(106%) contrast(96%);
}

@font-face {
  font-family: 'Lato';
  src: url('../TodoList/fonts/Lato-Bold.ttf');
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial;
}



body{
  padding: 50px 70px 50px 70px;
  background-color: var(--body-background-color);
}

main{
  display: grid;
  grid-template-columns: .8fr 2fr 1fr;
  min-height: 600px;
  border-radius: 8px;
}

/*Category Styles*/

ul{
  list-style-type: none;
}
li{
  padding-bottom: 5px;
}

.Category-icon img{
  padding-right: 12px;
  filter: var(--text-normal-filter-color);
}

.Category-icon.Category-selected{
  color: var(--category-select-color);
}
img.Category-selected{
  filter: var(--category-filter-select-color);
}

.Categories-container{
  background-color: var(--categories-container-background-color);
  padding-left: 35px;
  border-radius: 8px 0 0 8px;
}
.Options-container{
  padding-top: 20px;
  margin-bottom: 75px;
}

.Category-container{
  margin-bottom: 50px;
}

.Category-list{
  margin-bottom: 20px ;
  color: var(--text-normal-color);
}
.Add-button-container{
  padding-bottom: 15px;
}

/*AddButton Styles*/ 

button {
  border: 2px solid #54409E;
  background-color: #54409E;
  border-radius: 0em 0.9em 0.9em 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
 }
 
 button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
 
 button:hover {
  background-color: #0071e2;
 }

 /*Task Styles*/

 .Task-container{
  padding-top: 20px;
  background-color: var(--main-background-color);
 }

form{
  padding-left: 45px;
  padding-right: 45px;
  font-size: 40px;
}
nav{
  margin: 15px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav span{
  flex-grow: 1;
  color: var(--text-normal-color);
}
.Nav-options{
  padding-left: 5px;
}
.Nav-counter.With-number{
  background-color: #e2dcf5;
  color: #491af3;
  font-size: 14px; 
  padding: 2px 8px;
  border-radius: 8px;
}
.Nav-selected{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #491af3;
}

.Task-list{
  border-top: 2px solid var(--borders-color);
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

.Add-task-container{
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  margin-bottom: 25px;
}

/* Create a custom checkbox */
.checkmark {
  --clr: #54409E;
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: 300ms;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--clr);
  border-radius: .5rem;
  animation: pulse 500ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #E0E0E2;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #ab9ddf;
    rotate: 20deg;
  }

  50% {
    rotate: -20deg;
  }

  75% {
    box-shadow: 0 0 0 10px #937fdd;
  }

  100% {
    box-shadow: 0 0 0 13px #876beb;
    rotate: 0;
  }
}

.Todo-item{
  display: flex;
  align-items: flex-start;
  color: var(--text-normal-color);
}

.Task-name{
  padding-left: 10px;
  font-size: 16px;
}
.Task-status-container {
  font-size: 12px;
  margin-left: auto;  
}
.Task-status {
  margin-left: 10px;
  background-color: rgb(189, 250, 189);
  border-radius: 8px;
  padding: 4px 6px;
}

.Task-status.First-status {
  margin-left: 10px;
  background-color: #e2dcf5;
  color:#54409E;
  border-radius: 8px;
  padding: 4px 6px;
} 

.Task-status.Second-status {
  margin-left: 10px;
  background-color: rgb(189, 250, 189);
  color: #2c991e;
  border-radius: 8px;
  padding: 4px 6px;
} 

/*Meeting Styles*/

.Meeting-container{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 15px;
  border-left: 2px solid var(--borders-color);
  background-color: var(--main-background-color);
  color: var(--text-normal-color);
} 

.Meet-title{
  margin-top: 50px;
}
.Meeting-container div.Meet-card{
  height: 100px;
  width: 200px;
  border-radius: 8px;
}

div.Meet-card.First-meet{
  background-color: #f3dfa8;
}

div.Meet-card.Second-meet{
  background-color: #bef8f3;
}
  
div.Meet-card.Third-meet{
  background-color: #fab9b9;
}
 
div.Meet-card.Fourth-meet{
  background-color: rgb(189, 250, 189);
}
 
 